body {
  background-color: rgb(230, 170, 66);
}
h1 {
  background-color: rgb(230, 170, 66);
}

h2 {
  background-color: rgb(230, 170, 66);
}
div {
  background-color: rgb(230, 170, 66);

  padding: 2%;
}
#main {
  background-color: darkred;
  width: 45%;
  float: left;
  display: inline;
}

table {
  width: 100%;
}

th {
  background-color: rgb(16, 189, 223);
}

table,
th,
td {
  border: 1px solid rgb(211, 218, 11);
}

#footer {
  background-color: blanchedalmond;
  width: 45%;
  float: right;
  display: inline;
}

.maintable {
  background-color: rgb(168, 180, 10);
}
